/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c3c3c3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A4A4A4;
  border-radius: 30px
}

table {
    line-height: 1.3em
}

body {
    overflow-x: hidden;
}

td {
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    z-index: 10
}

thead th {
    background-color: #f7f7f7
}

a#log {
    color:black;
    text-decoration: none
}

.sidebar {
    background-color: #E6E6E6;
    height: 100%
}

.dropdown-toggle {
    max-width: 100px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topbar {
    background-color: #00378a
}

.sidefont > a, .sidefont > p {
    text-decoration: none !important; 
    color: black !important
}

.sidefont:hover {
    background-color: #D8D8D8;
    cursor: pointer
    
}

.sidefont:hover p {
    color: #424242 !important;
}

#menu {
    display: none;
}

#topbar_row {
    height: 8vh;
}

.topbar > a {
   color: white; 
}

.topbar > a:hover {
    color: white;
    text-decoration: none
}

.nav-btn {
    margin-right: 3%;
}

#robot {
    width: 3.5em;
}

#robot2 {
    margin-left: 20%;
}

.mob_logo, .web_logo {
    width: 20px; 
    height: 20px; 
}

.web_logo {
    margin-right: 2%;
    margin-left: 1%;
}

.mob_logo {
    margin-right: 3%;
}

.no_pad {
    padding: 0px;
}

.ok {
    display: none;
}

.drop_item {
    cursor: pointer;
    margin-left: 5%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drop_item:hover {
}

.lock {
    cursor: pointer;
}

/* Search bar elements */

#selector {
    position: fixed;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 150px;
    overflow: auto;
    margin-top: 2px;
    z-index: 1000;
}

#selector a, #selector div {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    display: block;
    background-color: #ffffff;
    margin: 0;
    border-width: 0;
    width: 100%;
    text-align: left;
}

#selector a {
    text-decoration: none;
    color: black;
}

#selector a:hover {
    background-color: #f2f2f2;
}



@media screen and (max-width : 576px)
{

    table {
        line-height: 1.3em
    }

    td {
        font-size: 70%;
    }

    thead .h4 {
        font-size: 1em;
    }

    .rate_pad {
    margin-top: -6px;
    }

}

@media screen and (max-height: 600px)
{

    #topbar_row {
        height: 13vh;
    }

}